body{
    margin: 0;
    padding: 0;
}
.banner-container{
    background-color: rgba(229, 84, 115, 0.05);
    width: 100%;
    height: 98vh;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-left: ; */
    padding-top: 30px;

    
}
.banner-description{
    padding-left: 240px;
    width: 50%;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    margin-top: -30px;

}
.banner-title{
    padding-left: 240px;
    color: #272727;
    font-size: 60px;
    font-weight: 800;

}
.shop-now{
    margin-left: 240px;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: #E55473;
    font-size: 15px;
    font-weight: 700;
    color: white;
}
.banner-img{
    width: 550px;
    height: 620px;
    margin-left:-200px;
}
.discount{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: rgba(229, 84, 115, 0.05);
    padding-top: 50px;
}
.discount-title{
    
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.discount-btn{
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: #E55473;
    font-size: 15px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
}
.discount-pic{
    width: 248px;
    height: 340px;
}
.discount-paragraph{
    /* width: 50%; */
    font-weight: 400;
    margin-top: -20px;
    color: rgba(39, 39, 39, 0.60);
    
}
